.container {
  display: flex;
  padding-top: 55px;
}

.addBtn {
  display: inline-block;
  padding: 10px 95px;
  background-color: rgba(94, 206, 123, 1);
  color: white;
  cursor: pointer;
}

.addBtn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sectionProduct {
  margin-left: 60px;
  width: 295px;
}

.sectionTitle {
  margin-top: 50px;
}
