.container {
  display: flex;
  padding-top: 35px;
}

.addBtn {
  display: inline-block;
  padding: 10px 95px;
  background-color: rgba(94, 206, 123, 1);
  cursor: pointer;
}

.addBtn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sectionProduct {
  margin-left: 50px;
  width: 295px;
}
