.container {
  display: flex;
  min-width: 320px;
  align-items: center;

  padding: 10px;
}

.containerBtnCount {
  width: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
}

.count {
  display: inline-block;
  margin-top: 17px;
  margin-bottom: 17px;
}

.btnSizecontainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 70px;
}

.img {
  margin-left: 10px;
}

.containerBig {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  max-width: 1000px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: greenyellow;
}
/*     */
