.navList {
  display: flex;
  padding-left: 0;
  position: relative;
}

.navItem {
  list-style: none;
}

.navList .navItem + .navItem {
  margin-left: 20px;
}

.activeNav {
  color: var(--primery-color);
}

.activeNav::after {
  content: '';
  position: absolute;
  line-height: 50px;
  top: 200%;
  left: -5px;
  width: 45%;
  height: 2px;
  background-color: var(--primery-color);
  border-radius: 2px;
}
