.btn {
  display: inline-block;

  width: 25px;
  height: 25px;
  text-align: center;
  border: 1px solid black;
  background-color: whitesmoke;
  color: grey;
  font-size: 15px;
}

.btn:not(:last-child) {
  margin-right: 7px;
}

.activeBtn {
  composes: btn;
  background-color: white;
  color: black;
}

.bigBtn {
  display: inline-block;
  width: 65px;
  height: 45px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
}

.bigBtn:not(:last-child) {
  margin-right: 10px;
}

.activeBigBtn {
  composes: bigBtn;
  background-color: black;
  color: white;
}
